extends layout

block content
  - var cars = JSON.parse(data);
  //- each car in cars
  //-   p Owner: #{car.Record.owner}
  //-   p Car: #{car.Record.make} #{car.Record.model} (#{car.Record.colour})

  h1 Select Car
  form#tableForm(action='/', method='get')
    div.input-field.col.s5
      select.selectpicker(data-style='btn-info', name='car')
        optgroup(label='Select Table')
          each car in cars
            option #{car.Key}
    input.btn(type="submit")
